# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloud_name

# Analytics (add these in Vercel dashboard)
NEXT_PUBLIC_GA4_ID=G-3REV95RMY4
NEXT_PUBLIC_CLARITY_ID=vnhbu8rdfd
NEXT_PUBLIC_RB2B_ID=0NW1GHZ1XGO4
